<% content_for :page_title do %>
  About data.gov.uk -
<% end %>

<h1 class="heading-large">
  About data.gov.uk
</h1>

<p>Since 2010 data.gov.uk has been helping citizens to find and use open government data and supports cross-government publishers to maintain data. It’s the best place to freely publish and find government data.</p>
<p></p>
The site is maintained by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a>.
</p>
<p>
<h3 class="heading-medium">How data.gov.uk and policy work</h3>
</p>
<p>Better data can help inform better policy-making and continuous improvement of services. Departments can combat fraud and reduce waste.</p> 

<p>By taking ethical, open, innovative and transparent approaches to data we can build greater levels of trust with citizens, whilst delivering more cost-effective and better targeted and tailored services to their needs.</p>

<p>Data is at the heart of digital transformation and the next phase of the reform of public services.</p>

